body{
    background: url(images/img1.png);
    background-attachment: fixed;
    background-size: cover;
}
.yazi{
    background-image: url(images/img2.png);
    font-size: 130px;
    background-size: cover;
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    background-clip: text;
    color: transparent;
}
shift{
    width: 500px;
    height: 500px;
    border: solid 10px black;
}
div > h1{
    color:skyblue
    }
div > h2{
         color: skyblue
}
div > h3{
    color:skyblue ;
}
div > h4{
    background-color:skyblue;
}
.div{
    div > h1{
        color: skyblue;
    }
    div ~ p{
        color: skyblue;
    }
    h2 + h3{
        color: skyblue;
    }
}

